*, html {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #ffffff;
}

a:hover {
	box-shadow: inset .1em .1em .1em rgba(0, 0, 0, 0),
				0 0 0 2px rgba(105, 119, 55, 1),
				0 0 0 4px rgba(75, 133, 109, 1),
				0 0 0 6px rgba(190, 140, 55, 1),
				0 0 0 8px rgba(202, 101, 45, 1),
				0 0 0 10px rgba(161, 65, 43, 1);
	margin-top: 10%;
	margin-bottom: 10%;
}

body {
	background: url(../images/retrobackground.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 90%;
	margin-left: 5%;
	text-align: center;
}

ul {
	list-style: none;
	font-size: 25px;
	margin-bottom: 1%;
	margin-top: 1%;
}

ul li a {
	display: block;
	width: 50%;
	margin-left: 25%;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: #000000;
}

ol {
	list-style: none;
	font-size: 25px;
	margin-bottom: 1%;
	margin-top: 1%;
}

ol li a {
	display: block;
	width: 50%;
	margin-left: 25%;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: #000000;
}

li:nth-of-type(1):hover {
	line-height: 1;
	background-color: rgba(0, 0, 0, 0.6);
	display: block;
	width: 50%;
	margin-left: 25%;
}

li:nth-of-type(2):hover {
	line-height: 1.5;
	background-color: rgba(105, 119, 55, 0.6);
	display: block;
	width: 50%;
	margin-left: 25%;
}

li:nth-of-type(3):hover {
	line-height: 2;
	background-color: rgba(75, 133, 109, 0.6);
	display: block;
	width: 50%;
	margin-left: 25%;
}

li:nth-of-type(4):hover {
	line-height: 2.5;
	background-color: rgba(190, 140, 55, 0.6);
	display: block;
	width: 50%;
	margin-left: 25%;
}

li:nth-of-type(5):hover {
	line-height: 3;
	background-color: rgba(202, 101, 45, 0.6);
	display: block;
	width: 50%;
	margin-left: 25%;
}

li:nth-of-type(6):hover {
	line-height: 3.5;
	background-color: rgba(161, 65, 43, 0.6);
	display: block;
	width: 50%;
	margin-left: 25%;
}

h1, h2 {
	margin-bottom: 1%;
}

h1:after {
	content: " NIEUW!";
	color: red;
}

p {
	margin-bottom: 1%;
}

p:first-of-type {
	border-bottom: 10px;
}

p:last-of-type {
	font-style: italic;
}

p + p {
	border-color: white;
	border-style: dotted;
	border-bottom-color: black;
}

p + p + p {
	border-color: white;
	border-style: dashed;
	border-bottom-color: black;
}

p + p + p + p {
	border-color: white;
	border-style: double;
	border-bottom-color: black;
}

p + p + p + p {
	border-color: white;
	border-style: groove;
	border-bottom-color: black;
}

h2:nth-last-child(even) {
	background-color: pink;
}

section p:last-of-type {
	text-transform: uppercase;
}

section:nth-of-type(odd) {
	text-transform: capitalize;
}

p:first-letter {
	size: 22px;
}

p:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(360deg); }
}

@-os-keyframes spin {
	from { -os-transform: rotate(0deg); }
	to { -os-transform: rotate(360deg); }
}

@-o-keyframes spin {
	from { -o-transform: rotate(0deg); }
	to { -o-transform: rotate(360deg); }
}

img {
	position: center;
}

img:hover {
	animation: spin;
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-delay: 0.1s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-play-state: running;

	-webkit-animation: spin;
	-webkit-animation-duration: 2s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-delay: 0.1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: normal;
	-webkit-animation-play-state: running;

	-moz-animation: spin;
	-moz-animation-duration: 2s;
	-moz-animation-timing-function: ease;
	-moz-animation-delay: 0.1s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: normal;
	-moz-animation-play-state: running;

	-os-animation: spin;
	-os-animation-duration: 2s;
	-os-animation-timing-function: ease;
	-os-animation-delay: 0.1s;
	-os-animation-iteration-count: infinite;
	-os-animation-direction: normal;
	-os-animation-play-state: running;

	-o-animation: spin;
	-o-animation-duration: 2s;
	-o-animation-timing-function: ease;
	-o-animation-delay: 0.1s;
	-o-animation-iteration-count: infinite;
	-o-animation-direction: normal;
	-o-animation-play-state: running;
}

video {
	box-shadow: 10px 10px 1px #000000;
	margin-bottom: 2%;
}

fieldset {
	box-shadow: 3px 3px 2px #000000;
	background-color: rgba(123, 123, 123, 0.3);
}

fieldset:nth-of-type(1n+1) {
	margin-top: 1%;
}

fieldset:last-of-type {
	margin-bottom: 3%;
}

fieldset:hover {
	box-shadow: 5px 5px 3px #000000;
	background-color: rgba(123, 123, 123, 0.6);
}

legend {
	font-size: 25px;
	color: pink;
	box-shadow: 4px 4px 4px #000000;
	border: solid #ffffff 1px;
	background-color: (123, 123, 123, 0.3);
}

label {
	font-size: 20px;
	color: #000000;
	text-shadow: 2px 2px 1px #ffffff;
}

input[type="text"], input[type="email"], textarea {
	width: 200px;
	font-size: 20px;
	margin-bottom: 10px;
	margin-left: 10px;
	border-radius: 5px;
}

input[type="radio"] {
	font-size: 20px;
	margin-bottom: 10px;
	margin-right: 10px;
}

input[placeholder] {
	text-align: center;
}

label {
	font-size: 25px;
}

input[type="text"]:focus, input[type="email"]:focus, textarea {
	width: 250px;
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-os-transform: scale(1.2);
	-o-transform: scale(1.2);
	margin-left: 30px;
}






